@media (max-width: 800px) {
  .Vanilla-Weather-Search {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 20%;
    margin-top: 10px;
    min-width: 350px;
  }

  .weather-app .searchCity-input {
    position: relative;
    text-align: center;
    left: 70px;
    top: 10px;
  }

  .weather-app .row .btn-success {
    position: relative;
    top: 45px;
    left: 30px;
  }

  .city .row h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 50px;
    top: 20px;
  }

  .city ul {
    position: relative;
    top: 15px;
  }

  .icon .row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .description .row {
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
  }

  .temp .temper .units {
    display: block;
    margin: auto;
    width: 50%;
  }

  .humidity-wind .row {
    display: block;
    margin: auto;
    text-align: center;
  }

  .row .weather-forecast {
    display: block;
    margin: auto;
    text-align: center;
  }

  .row .weather-forecast-date {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 75%;
  }

  .row .weather-forecast-temperature {
    font-size: 75%;
  }

  .row .col-2 img {
    position: relative;
    left: 0px;
    width: 130%;
  }

  footer a:link {
    display: block;
    margin: auto;
    text-align: center;
  }
}

body {
  font-family: "Peralta", "Poppins", sans-serif;
  background-image: url("lanscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  min-height: 100vh;
}

.Vanilla-Weather-Search {
  display: block;
  position: relative;
  margin: auto;
  top: 25px;
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, #92b4ec, transparent),
    linear-gradient(to bottom right, #cdf0ea, transparent);
  background-blend-mode: screen;
  max-width: 40%;
  border: 1px solid #dadde1;
  border-radius: 50px;
  box-shadow: 5px 10px;
}

.weather-app {
  margin-top: 10px;
}

.weather-app .searchCity-input {
  position: relative;
  text-align: center;
  left: 50px;
}

.weather-app .btn-success {
  position: relative;
  margin-bottom: 35px;
  top: 35px;
  left: 40px;
}

.city .row {
  display: block;
  margin: auto;
  text-align: center;
}

.city h1 {
  font-size: 50px;
}

.city ul {
  position: relative;
  bottom: 15px;
  left: -20px;
  list-style: none;
  font-size: 20px;
}

.icon .row {
  display: block;
  margin: auto;
  text-align: center;
}

.icon img {
  position: relative;
  bottom: 50px;
  width: 125px;
}

.description .row {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 70px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
}

.temp .row {
  display: block;
  margin: auto;
  position: relative;
  bottom: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.humidity-wind .row {
  display: block;
  margin: auto;
  position: relative;
  bottom: 60px;
  left: -20px;
  text-align: center;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}

.humidity-wind ul {
  list-style: none;
}

.weather-forecast {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 60px;
}

.weather-forecast-date {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

.row .weather-forecast .weather-forecast-temperature {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  font-size: 12px;
}

.row .col-2 img {
  position: relative;
  left: 0px;
  width: 80%;
}

footer {
  display: block;
  margin: auto;
  position: relative;
  text-align: center;
  font-size: 15px;
  bottom: 20px;
}

footer a:link {
  color: black;
}

footer a:hover {
  color: #4c0033;
}
